@tailwind base;

:root {
  --primary: #06294E;
  --secondary: #000428;
}

body{
  background-color: #06294E;
}
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 14px;
  border: 3px solid var(--primary);
}

@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Nunito;
    color:white
  }
}

.card-open {
  overflow: hidden;
  height: 0px;
  transition: height 0.4s ease;
}

.slide-in {
  height: 70px;
  overflow: hidden;
}